.Navigation {
    width: 100%;
    background-color: #145DA0;
    height: 6vh;
}

.Logo {
    user-select: none;
    color: white;
    font-size: 4.5vh;
    float: left;
    margin-top: 0.3vh;
    margin-left: 2vh;
    cursor: pointer;
}