.Rankings {
    width: 50%;
    margin: auto;
}

.Table {
    margin-top: 10px;
}

.TableRow {
    margin-bottom: 1px;
    width: 100%;
    height: 5vh;
    outline: 1px solid black;
    font-size: 4.2vh;
}

.UserTableRow {
    margin-bottom: 1px;
    width: 100%;
    height: 5vh;
    outline: 1px solid black;
    font-size: 4.2vh;
    background-color: yellow;
}

.TableNumber {
    width: 13%;
    height: 5vh;
    float: left;
    padding-left: 2%;
}

.TableUsername {
    width: 63%;
    height: 5vh;
    float: left;
    outline: 1px solid black;
    padding-left: 2%;
}

.TableScore {
    width: 18%;
    height: 5vh;
    float: left;
    padding-left: 2%;
}

@media screen and (max-width: 400px) {
    .Rankings {
        width: 90%;
    }

    .TableNumber  {
        width: 20%;
        padding-left: 1%;
    }

    .TableUsername {
        width: 54%;
        padding-left: 1%;
    }

    .TableScore {
        width: 23%;
        padding-left: 1%;
    }
}