.NumberBox {
    width: 10%;
    float: left;
    outline: 1px solid black;
    user-select: none;
    height: 8vh;
}

.NumberBox:hover {
    background-color: lightgray;
    cursor: pointer;
}

.Number {
    font-size: 5vh;
    margin-top: 1.5vh;
    text-align: center;
}

.Cross {
    font-size: 5vh;
    color: red;
    margin-top: 1.5vh;
    margin-left: 3.5vh;
}