.SideBar {
    float: left;
    width: 25%;
    height: 94vh;
    text-align: center;
}

.Score {
    margin: 2vh 0;
    padding: 0;
    font-size: 4vh;
}

.ButtonRow {
    width: 100%;
    margin-bottom: 10px;
}

@media screen and (max-width: 400px) {
    .SideBar {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .ButtonRow {
        display: inline;
        margin: 0 10px;
    }
}