.GameBoardContainer {
    float: left;
    width: 75%;
}

.GameBoard {
    width: 75%;
    margin: auto;
    height: 80vh;
    overflow-y: auto;
    margin-left: 25vh;
}

@media screen and (max-width: 400px) {
    .GameBoardContainer {
        width: 100%;
    }

    .GameBoard {
        width: 90%;
        margin-left: 5%;
        height: 40vh;
        overflow-y: scroll;
    }
}