.GameButtonsContainer {
    width: 100%;
    text-align: center;
    user-select: none;
}

.GameButton {
    width: 25%;
    font-size: 4vh;
    margin: 1vh;
}

.GameButton:hover {
    cursor: pointer;
}

.Icon {
    float: left;
    margin-top: 0.5vh;
}

@media screen and (max-width: 400px) {
    .GameButton {
        width: 90%;
    }
}